<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @item.photo.attached? %>
    <% if %w(image/gif image/jpeg image/png).include?(@item.photo.content_type) %>
      <%= image_tag @item.photo, alt: "" if @item.photo.attached? %>
    <% end %>
    <%= link_to "Download", @item.photo %>
  <% end %>
</p>

<p>
  <strong>File:</strong>
  <% if @item.file.present? %>
    <%= @item.file.url %>
    <%= image_tag download_item_path(@item) %>
    <%= link_to "Download", download_item_path(@item), data: { turbolinks: false } %>
  <% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
